<div class="edit-window">

  <%= render 'caretakers/form', :caretaker => @caretaker, :url => url_for(:controller => 'caretakers', :action => 'create') %>


</div>
<!-- expand and collaps -->
<script>
    $(".expanderContent").hide();
    $(".expanderSign").on('click', function () {
        $(this).text($(this).text() == '[+]' ? '[-]' : '[+]');
        $(this).parent().next("div").toggle('slow');
    });
</script>

