<div class="edit-window">

  <%= render :partial => 'caretakers/form', :controller => @caretaker %>

</div>

<!-- expand and collaps -->
<script>
    $(".expanderContent").hide();
    $(".expanderSign").on('click', function () {
        $(this).text($(this).text() == '[+]' ? '[-]' : '[+]');
        $(this).parent().next("div").toggle('slow');
    });
</script>